.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 40px;
  background-color: 'transparent';
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header_title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  text-align: left;
}

.header_settings {
  font-size: 24px;
  flex: 0;
}

/* Mobile */
@media (max-width: 700px) {
  .header {
    justify-content: center;
    padding: 20px;
  }

  .header_title {
    font-size: 18px;
    text-align: center;
  }

  .header_settings {
    position: absolute;
    right: 20px;
    font-size: 20px;
  }
}